#container {
  width: 50vh;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 6vh;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  backdrop-filter: blur(10px);
  background: transparent;
  padding-bottom: 3%;
}
#login {
  font-size: xx-large;
  font-weight: bolder;
}
.loginSignin_container input {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  height: 5vh;
  width: 100%;
}
.info_container:hover {
  scale: 1.05;
}

.loginSignin_container svg {
  position: absolute;
  right: 5px;
  top: 10px;
}
.loginSignin_container input:focus {
  outline: none;
}
.info_container {
  border-radius: 7px;
  border: 1px solid white;
  width: 40vh;
  margin-top: 2vh;
  width: 50vh;
  position: relative;
  transition: scale 0.2s;
}

.loginSignin_container a {
  text-decoration: none;
}
.loginSignin_container button {
  margin: 4vh;
  margin-bottom: 1vh;
  width: 20vh;
  height: 5vh;
  border-radius: 9px;
  border: none;
  transition: width 0.2s, height 0.2s;
}
.loginSignin_container button:hover {
  background-color: cyan;
  cursor: pointer;
  width: 22vh;
  height: 6vh;
}
.loginSignin_container p {
  margin-bottom: 2%;
}
