
#navbarid p {
  position: absolute;
  left: 12vh;
  top: 1vh;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(163, 127, 207, 0.646);
  font-size: 20px;
  font-weight: bold;
}

#navbarid img {
  width: 86px;
  height: 80px;
  position: absolute;
  left: 2vh;
  top: 0%;
  border-radius: 7px;
   
}
#navbarid ul {
  margin-top: 0;
  list-style: none;
  position: absolute;
  right: 10vh;
  top: 0%;
  font-weight: bold;
}
#navbarid li {
  display: inline-block;
}
#navbarid nav ul li a:hover, 
#navbarid nav ul li .nav-btn:hover {
  background-color: white;
  color: rgb(173, 173, 233);
}
#navbarid nav ul li a, 
#navbarid nav ul li .nav-btn {
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 24px 27px;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s, color 0.5s;

  background: none;
  border: none;
  font-family: inherit; 
  font-weight: inherit;
  cursor: pointer;  
  height: 100%;
}
#navbarid nav {
  margin-top: -0.6%;
  margin-left: -0.6%;
  margin-right: -0.5%;
  position: relative;
  height: 10vh;
  background-image: linear-gradient(
    to left,
    rgb(173, 173, 233),
    rgb(194, 223, 237)
  );
}

#homeLink a {
   position: absolute;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(163, 127, 207, 0.646);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.cart_badge {
  background-color: cyan;
  color: rgb(16, 16, 71);
  border-radius: 50%;
  padding: 2px 7px;
  margin-left: 6px;
  font-size: 14px;
  font-weight: bold;
}